<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/images/favicon.ico">
    <title>Lanout!</title>
    {% block css %}{% endblock %}
</head>

{% block body %}{% endblock %}

<body>
  <!-- Scripts -->
  <script src="static/js/bootstrap.bundle.min.js"></script>
  <!-- Custom Scripts -->
  {% block js %}{% endblock %}
</body>
</html>